<div class="d-flex flex-column-fluid">

    <div class="container">
        <div class="card card-custom mb-7">
            <div class="card-header flex-wrap border-0 pt-6 pb-0">
                <div class="card-title">
                    <h3 class="card-label">Matriculas
                    <span class="text-muted pt-2 font-size-sm d-block">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum, a?</span></h3>
                </div>
                <div class="card-toolbar">
                    <a class="btn btn-light-danger btn-sm font-weight-bold font-size-sm mr-3" style="cursor: pointer;">
                        <i class="flaticon-computer"></i> &nbsp; Encuesta
                    </a>

                    <a class="btn btn-light-success btn-sm font-weight-bold font-size-sm mr-3">
                        <i class="flaticon-doc"></i>
                        Exportar
                    </a>
                    <!-- <button class="btn btn-light-success btn-sm font-weight-bold font-size-sm mr-3" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Preparando...
                    </button> -->

                    <a routerLink="create" class="btn btn-light-info btn-sm font-weight-bold font-size-sm">
                        <i class="flaticon-add-circular-button"></i>
                        Nueva matrícula
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-lg-12 col-xl-12">
                        <div class="row mb-5">
                            
                            <div class="col-md-2 col-sm-6 my-2 my-md-0">
                                <label class="mr-3 mb-0 d-md-block"><b>Fecha inicio</b></label>
                                <input [(ngModel)]="from" name="from" type="date" class="form-control" placeholder="Fecha de inicio">
                            </div>
                            <div class="col-md-2 col-sm-6 my-2 my-md-0">
                                <label class="mr-3 mb-0 d-md-block"><b>Fecha fin</b></label>
                                <input [(ngModel)]="to" name="to" type="date" class="form-control" placeholder="Fecha fin">
                            </div>
                            <div class="col-md-3 col-sm-6 my-2 my-md-0">
                                <label class="mr-3 mb-0 d-md-block"><b>Asesor</b></label>
                                <select [(ngModel)]="advisor" name="advisor" class="form-control selectpicker" data-size="7" data-live-search="true">
                                    <option value="all">Todos</option>
                                    <option *ngFor="let item of advisors" [value]="item._id">{{ item.full_name }}</option>
                                </select>
                            </div>
                     
                            <div class="col-md-3 my-2 my-md-0">
                                <label class="mr-3 mb-0 d-none d-md-block text-white">*</label>
                                <a (click)="filter()" style="cursor: pointer;" class="btn btn-light-primary px-6 font-weight-bold">
                                   <i class="flaticon-search"></i> Buscar
                                </a>
                                <!-- <button type="button" class="btn btn-light-primary spinner spinner-white spinner-left">
                                    Buscando
                                </button> -->
                            </div>
                        </div>
                        
                    </div>
                    <!-- <div class="col-lg-3 col-xl-4 mt-5 mt-lg-0">
                        
                    </div> -->
                </div>
            </div>
        </div>
        
        <div class="card card-custom">
            <!--begin::Header-->
            <div class="card-header border-0 py-5">
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label font-weight-bolder text-dark">Matriculas</span>
                    <span class="text-muted mt-3 font-weight-bold font-size-sm">Actividades de apertura cursos</span>
                </h3>
                <div class="card-toolbar">
                    <button data-toggle="modal" [attr.data-target]="'#modalAdvanced'" class="btn btn-light-warning px-6 font-weight-bold">
                        <i class="flaticon2-console"></i> Avanzado
                     </button>
                </div>
            </div>
            <!--end::Header-->
            <!--begin::Body-->
            <div class="card-body pt-0 pb-7">
                <!--begin::Table-->

                <div class="row">

                    <ng-container *ngIf="load_data">
                        <div class="text-center">Cargando...</div>
                    </ng-container>

                    <ng-container *ngIf="!load_data">
                        <div *ngIf="inscriptions.length == 0" class="col-12 mb-5 text-center">
                            <img src="assets/media/images/search.png" alt="search" style="width: 80px;">
                            <h1 class="font-weight-bolder text-dark mt-4">Resultados de matrículas</h1>
                            <div class="font-size-h4 mb-8">No se encontraron resultados para mostrar.</div>
                        </div>
                        <div *ngFor="let item of inscriptions | paginate: { itemsPerPage: size, currentPage: p };" class="col-12 mb-5">
                            <div class="card card-custom card-border">
                                <div class="card-header">
                                    <div class="card-title">
                                        <span class="card-icon">
                                            <i class="flaticon2-mail text-primary"></i>
                                        </span>
                                        <h3 class="card-label">Matricula
                                        <small>#{{ item._id }}</small></h3>
                                        <span *ngIf="item.firm" class="badge badge-info">Firmado</span>
                                    </div>
                                    <div class="card-toolbar">
                                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                            <a *ngIf="user.role == 'Administrador' && item.status != 'Cancelado'" (click)="cancel_inscription(item._id)" class="btn btn-danger font-weight-bold"><i class="flaticon2-cancel-music mr-2"></i>Cancelar</a>
                                            <a [routerLink]="['payment', item._id]" class="btn btn-success font-weight-bold"><i class="flaticon-piggy-bank mr-2"></i>Pagos</a>
                                            <!-- <a class="btn btn-danger font-weight-bold">Cancelar</a> -->
                                            <a [routerLink]="['contract', item._id]" class="btn btn-warning font-weight-bold"><i class="flaticon2-google-drive-file mr-2"></i>Contrato</a>
              
                                            <div class="btn-group" role="group">
                                                <button id="btnGroupDrop1" type="button" class="btn btn-dark font-weight-bold dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="flaticon-settings"></i>
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                    <a (click)="send_email(item._id)" class="dropdown-item pointer align-items-center">
                                                        <i class="flaticon-email mr-2"></i>Reenviar orden
                                                    </a>
                                                    <a [routerLink]="['details', item._id]" class="dropdown-item pointer align-items-center">
                                                        <i class="flaticon-bag mr-2"></i>Detalles
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row mb-5">
                                        <div class="col">
                                            <a class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">
                                                {{ item.customer.full_name }}
                                            </a>
                                            <span class="text-muted font-weight-bold d-block">
                                                {{ item.customer.email }}
                                            </span>
                                        </div>
                                        <div class="col text-center">
                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">{{ item.advisor.full_name }}</span>
                                            <span class="text-muted font-weight-bold">Asesor comercial</span>
                                        </div>
                                        <div class="col text-center">
                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">
                                                {{ item.channel }}
                                            </span>
                                            <span class="text-muted font-weight-bold">Canal</span>
                                        </div>
                                        <div class="col text-right">
                                            <span *ngIf="item.status == 'Procesando'" class="badge badge-primary mb-3 mr-3">Procesando</span>
                                            <span *ngIf="item.status == 'Cancelado'" class="badge badge-danger mb-3 mr-3">Cancelado</span>
                                        </div>
                                    </div>
                                    <div class="separator separator-dashed mt-8 mb-5"></div>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <!--begin: Item-->
                                        <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                                            <span class="mr-4">
                                                <i class="flaticon-piggy-bank icon-2x text-muted font-weight-bold"></i>
                                            </span>
                                            <div class="d-flex flex-column text-dark-75">
                                                <span class="font-weight-bolder font-size-sm">Total</span>
                                                <span class="font-weight-bolder font-size-h5">{{ item.amount | currency: 'S/ ' }}</span>
                                            </div>
                                        </div>
                                        <!--end: Item-->
                                        <!--begin: Item-->
                                        <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                                            <span class="mr-4">
                                                <i class="flaticon-confetti icon-2x text-muted font-weight-bold"></i>
                                            </span>
                                            <div class="d-flex flex-column text-dark-75">
                                                <span class="font-weight-bolder font-size-sm">Matricula</span>
                                                <span class="font-weight-bolder font-size-h5">{{ item.matricula | currency: 'S/ ' }}</span>
                                            </div>
                                        </div>
                                        <!--end: Item-->
                                        <!--begin: Item-->
                                        <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                                            <span class="mr-4">
                                                <i class="flaticon-pie-chart icon-2x text-muted font-weight-bold"></i>
                                            </span>
                                            <div class="d-flex flex-column text-dark-75">
                                                <span class="font-weight-bolder font-size-sm">Fecha</span>
                                                <span class="font-weight-bolder font-size-h5">{{ item.created_at | date }}</span>
                                            </div>
                                        </div>
                                        <!--end: Item-->
                                        <!--begin: Item-->
                                        <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                                            <span class="mr-4">
                                                <i class="flaticon-file-2 icon-2x text-muted font-weight-bold"></i>
                                            </span>
                                            <div class="d-flex flex-column flex-lg-fill">
                                                <span class="text-dark-75 font-weight-bolder font-size-sm">Encuesta</span>
                                                <a href="#" class="text-primary font-weight-bolder">Ver</a>
                                            </div>
                                        </div>
                                        <!--end: Item-->
                                        <!--begin: Item-->
                                        <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                                            <span class="mr-4">
                                                <i class="flaticon-chat-1 icon-2x text-muted font-weight-bold"></i>
                                            </span>
                                            <div class="d-flex flex-column">
                                                <span class="text-dark-75 font-weight-bolder font-size-sm">Comentarios</span>
                                                <a href="#" class="text-primary font-weight-bolder">Ver</a>
                                            </div>
                                        </div>
                                        <!--end: Item-->
                                        <!--begin: Item-->
                                        <div class="d-flex align-items-center flex-lg-fill my-1">
                                            <span class="mr-4">
                                                <i class="flaticon-network icon-2x text-muted font-weight-bold"></i>
                                            </span>
    
                                            <div class="symbol-group symbol-hover">
                                                
                                                <div class="symbol symbol-30 symbol-circle" data-toggle="tooltip" title="" data-original-title="Mark Stone">
                                                    <img [routerLink]="'/dashboard/customers/buyer/' + item.customer._id + '/dashboard'" alt="Pic" src="assets/media/users/300_25.jpg">
                                                </div>
                                                <div class="symbol symbol-30 symbol-circle" data-toggle="tooltip" title="" data-original-title="Charlie Stone">
                                                    <img alt="Pic" src="assets/media/users/300_19.jpg">
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <!--end: Item-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    
                </div>

               
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-between align-items-center flex-wrap">
                    
                    <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="p = $event"></pagination-controls>

                    <div class="d-flex align-items-center">
                        <select (change)="p = 1" [(ngModel)]="size" name="size" class="form-control form-control-sm font-weight-bold mr-4 border-0 bg-light-secondary" style="width: 75px;">
                            <option value="1">1</option>
                            <option value="3">3</option>
                            <option value="6">6</option>
                            <option value="9">9</option>
                            <option value="12">12</option>
                        </select>
                        <span class="text-muted">Mostrando {{ size }} de {{ inscriptions.length }} registros.</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAdvanced" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Buscador avanzado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-lg-12">
                        <label>Código:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <select (change)="get_type_filter()" [(ngModel)]="type_filter" name="type_filter" class="form-control form-control-solid">
                                    <option value="" disabled selected>Seleccionar</option>
                                    <option value="codigo">Código de matricula</option>
                                    <option value="nombres">Cliente</option>
                                    <option value="canal">Canal</option>
                                </select>
                            </div>
                            <input *ngIf="interruptor == 'input'" [(ngModel)]="value_filter" name="value_filter" type="text" class="form-control" placeholder="Filtro a buscar">
                            <select *ngIf="interruptor == 'select'" [(ngModel)]="value_filter" name="value_filter" class="custom-select form-control form-control-solid" id="">
                                <option value="" selected disabled>Seleccionar</option>
                                <option value="Whatsapp">Whatsapp</option>
                                <option value="Facebook">Facebook</option>
                                <option value="Instagram">Instagram</option>
                                <option value="Campaña EM">Campaña EM</option>
                                <option value="Publicidad FB">Publicidad FB</option>
                                <option value="Tienda">Tienda</option>
                            </select>
                        </div>
                    </div>
                   
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Cerrar</button>
                <button (click)="clean_arr()" type="button" class="btn btn-info font-weight-bold">Limpiar</button>
                <button (click)="search_advanced()" type="button" class="btn btn-primary font-weight-bold">Buscar</button>
            </div>
        </div>
    </div>
</div>
