<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="card card-custom card-stretch gutter-b">
                    <div class="card-header border-0 pt-5">
                        <h3 class="card-title">
                            <span class="font-weight-bolder text-dark">Nueva matricula</span>
                        </h3>
                 
                    </div>
                    <div class="card-body">
                        <div class="row form-group">
                            <label class="col-lg-3 col-form-label text-lg-end">
                                <b>Cliente:</b>
                            </label>
                            <div class="col-lg-9 col-xl-9">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-solid" placeholder="Seleccionar cliente">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">Go!</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-lg-3 col-form-label text-lg-end">
                                <b>Canal:</b>
                            </label>
                            <div class="col-lg-9 col-xl-9">
                                <select class="custom-select form-control form-control-solid" id="">
                                    <option value="" selected disabled>Seleccionar</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-lg-3 col-form-label text-lg-end">
                                <b>Matricula:</b>
                            </label>
                            <div class="col-lg-9 col-xl-9">
                                <input type="text" class="form-control form-control-solid" placeholder="0">
                            </div>
                        </div>
                    </div>
                    <div class="card-header border-0">
                        <h3 class="card-title">
                            <span class="font-weight-bolder text-dark">Resumen</span>
                        </h3>
                 
                    </div>
                    <div class="card-body">
                        <div class="row form-group">
                            <div class="col-12">
                                <div class="d-flex flex-column mb-10 mb-md-0">
                                    <div class="font-weight-bolder font-size-lg mb-3">MATRICULA</div>
                                    <div class="d-flex justify-content-between mb-3">
                                        <span class="mr-15 font-weight-bold">Asesor comercial:</span>
                                        <span class="text-right">John Doe</span>
                                    </div>
                                    <div class="d-flex justify-content-between mb-3">
                                        <span class="mr-15 font-weight-bold">Estado inicial:</span>
                                        <span class="text-right">1234567890934</span>
                                    </div>
                                    <div class="d-flex justify-content-between mb-3">
                                        <span class="mr-15 font-weight-bold">Origen:</span>
                                        <span class="text-right">Interno</span>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <span class="mr-15 font-weight-bold">Descuento:</span>
                                        <span class="text-right">No aplicado</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="card card-custom card-stretch gutter-b" style="background: #f3f6f9;">
                                    <!--begin::Body-->
                                    <div class="card-body">
                                        <span class="card-title font-weight-bolder text-dark-75 font-size-h2 mb-0 d-block">$5,209</span>
                                        <span class="font-weight-bold text-muted font-size-sm">Total</span>
                                    </div>
                                    <!--end::Body-->
                                </div>
                            </div>
                            <div class="col">
                                <div class="card card-custom card-stretch gutter-b" style="background: #f3f6f9;">
                                    <!--begin::Body-->
                                    <div class="card-body">
                                        <span class="card-title font-weight-bolder text-dark-75 font-size-h2 mb-0 d-block">$5,209</span>
                                        <span class="font-weight-bold text-muted font-size-sm">Descuento</span>
                                    </div>
                                    <!--end::Body-->
                                </div>
                            </div>
                            
                        </div>
                       
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card card-custom card-stretch gutter-b">
                    <div class="card-header border-0 pt-5">
                        <h3 class="card-title">
                            <span class="font-weight-bolder text-dark">Ciclos</span>
                        </h3>
                 
                    </div>
                    <div class="card-body">
                        <div class="row form-group">
                            <label class="col-lg-3 col-form-label text-lg-end">
                                <b>Curso base:</b>
                            </label>
                            <div class="col-lg-9 col-xl-9">
                                <select class="form-control selectpicker" data-size="7" data-live-search="true">
                                    <option value="">Select</option>
                                    <option value="AF">Afghanistan</option>
                                    <option value="AX">Åland Islands</option>
                                </select>
                            </div>
                           
                        </div>
                        <div class="row form-group">
                            <label class="col-lg-3 col-form-label text-lg-end">
                                <b>Ciclo:</b>
                            </label>
                            <div class="col-lg-9 col-xl-9">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-solid" placeholder="Seleccionar curso">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">Go!</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                        <h3 class="font-size-lg text-dark font-weight-bold mb-6">Salones disponibles:</h3>
                        <div class="row mb-5">
                            <div class="col-lg-6">
                                <label class="option">
                                    <span class="option-control">
                                        <span class="radio">
                                            <input type="radio" name="m_option_1" value="1" checked="checked">
                                            <span></span>
                                        </span>
                                    </span>
                                    <span class="option-label">
                                        <span class="option-head">
                                            <span class="option-title">Salon 1</span>
                                            <span class="option-focus">10(5)</span>
                                        </span>
                                        <span class="option-body">
                                            <b>Días:</b> Lu-Mi-Vi <br>
                                            <b>Horario:</b> 4pm - 5pm
                                        </span>
                                    </span>
                                </label>
                            </div>
                            <div class="col-lg-6">
                                <label class="option">
                                    <span class="option-control">
                                        <span class="radio">
                                            <input type="radio" name="m_option_1" value="1">
                                            <span></span>
                                        </span>
                                    </span>
                                    <span class="option-label">
                                        <span class="option-head">
                                            <span class="option-title">Salon 2</span>
                                            <span class="option-focus">10(5)</span>
                                        </span>
                                        <span class="option-body">
                                            <b>Días:</b> Lu-Mi-Vi <br>
                                            <b>Horario:</b> 6pm - 7pm
                                        </span>
                                    </span>
                                </label>
                            </div>
                            
                        </div>

                        <h3 class="font-size-lg text-dark font-weight-bold mb-6">Descuento:</h3>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label>
                                        <b>Tipo:</b>
                                    </label>
                                    <select class="custom-select form-control form-control-solid" id="">
                                        <option value="" selected disabled>Seleccionar</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label>
                                        <b>Valor:</b>
                                    </label>
                                    <div class="input-group">
                                        <input type="text" class="form-control form-control-solid" placeholder="0">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">Aplicar!</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <table class="table table-striped table-bordered">
                            <tbody>
                                <tr>
                                    <td>
                                        Diseño gráfico
                                    </td>
                                    <td>
                                        Salon 3
                                    </td>
                                    <th class="text-center">
                                        <span class="text-danger"><i class="flaticon2-trash text-danger"></i></span>
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        Desarrollo web
                                    </td>
                                    <td>
                                        Salon 1
                                    </td>
                                    <th class="text-center">
                                        <span class="text-danger"><i class="flaticon2-trash text-danger"></i></span>
                                    </th>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-danger mr-3" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary">Matricular</button>
                    </div> 
                    
                </div>
            </div>
        </div>
        
        
    </div>
    <!--end::Container-->
</div>
