/* You can add global styles to this file, and also import other style files */

.pointer {
  cursor: pointer;
}

.ngx-pagination {
  margin-bottom: 0 !important;
  .current {
    background-color: #464e5f !important;
  }
}

.swal2-icon {
  margin: auto !important;
  margin-top: 40px !important;
}

.swal2-title {
  margin-top: 0 !important;
}
